@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ddd;
}

.container{
    max-width: 500px;
    padding: 0 20px;
    margin: 130px auto;
}

.login{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.login .nosaukums{
    height: 90px;
    background: #4070f4;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .info{
    color: #ff0000;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.login .info2{
    color: #333;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.login form{
    padding: 25px;
}

.login form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.login form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login form .row input:focus{
    border-color: #4070f4;
    box-shadow: inset 0px 0px 2px 2px;
}

.login form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #4070f4;
    border: 1px solid #254292;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form .poga input{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0;
    background: #4070f4;
    border: 1px solid #254292;
    cursor: pointer;
}

.login form .poga input:hover{
    background: #254292;
}

.login form .registreties{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.login form .registreties a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.login form .registreties a:hover{
    text-decoration: underline;
}

.izlogoties{
    background: #aaa;
    color: #333;
    padding: 5px 15px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.izlogoties:hover{
    background: #ddd;
}