@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


:root{
    --main-color: #4070f4;
    --black: #444;
    --light-color: #9c9c9c;
    --bg: #c4d4ff;
    --body: #fff;
    --white: #eee;
    --table-bg: #eee;
    --opacity-color: rgba(0, 0, 0, .2);
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
}

*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-out;
}
body{
    background: var(--body);
}
::selection{
    background: var(--main-color);
    color: #eee;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
    width: 1.3rem;
}

html::-webkit-scrollbar-track{
    background: var(--light-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding: 2rem 11%;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
}

.heading span{
    color: var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding: 0 1.5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    background: var(--light-color);
}

.btn2{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.btn2:hover{
    background: var(--light-color);
}

.btn3{
    display: inline;
    float: right;
    padding: .8rem 2rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin: -.5rem 0;
}

.btn3:hover{
    background: var(--light-color);
}

.btn4{
    margin: 1rem 1rem;
    /* float: right; */
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 98.65%;
}

.btn4:hover{
    background: var(--light-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 11%;
}

header .logo{
    font-size: 3rem;
    color: var(--white);
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--white);
    margin-left: 2rem;
}

header .navbar a:hover{
    color: rgb(170, 170, 170);
}

header .navbar .active{
    font-weight: bold;
    border-bottom: solid .1rem var(--white);
    padding: 0;
}

.navbar .lietotajs{
    font-size: 1.7rem;
    color: var(--white);
    margin-right: -1rem;
}

.navbar .lietotajs i{
    font-size: 1.7rem;
    color: var(--white);
    margin-right: .5rem;
}

.admin{
    margin-top: 7rem;
}

.admin .row{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.admin .row .info{
    flex: 1 1 40rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.admin .row .info2{
    flex: 1 1 15rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.head-info{
    background-color: var(--bg);
    color: var(--black);
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.head-color{
    background-color: var(--bg);
}

table{
    font-size: 1.5rem;
    width: 100%;
}

th, td{
    text-align: center;
    height: 4rem;
    border-bottom: 1px solid #ddd;
    border-radius: .5rem;
    color: var(--black);
}

tr:hover{
    background-color: var(--opacity-color);
}

.noselect tr:hover{
    background-color: transparent;
}

th{
    font-weight: bold;
    color: var(--black);
    background: var(--table-bg);
    border-radius: .5rem;
}

table .teksts{
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:30rem;
}

.user-ico{
    font-size: 10rem;
    color: var(--black);
    padding: 4rem;
}

.value{
    font-weight: bold;
    font-size: 1.7rem;
}

select{
    height: 4rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 1rem 0;
}

table .box{
    margin: .7rem 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    background: var(--table-bg);
    width: 98%;
}

table .box:focus{
    background: var(--opacity-color);
}

table .box2{
    margin: .7rem 1rem;
    padding-left: .5rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    background: var(--table-bg);
    width: 98%;
}

table .box2:focus{
    background: var(--opacity-color);
}

table .box2 option {
    background: var(--table-bg);
    color: var(--black);
  }

table .main{
    background-color: rgba(0, 0, 0, .1);
    font-weight: bold;
}

.pieteiksanasKluda{
    font-size: 2rem;
    text-align: center;
    margin: 5rem;
    padding: 3rem;
    color: #eee;
    border-radius: .5rem;
    border: var(--border);
}

.pieteiksanasKluda a{
    color: #ccc;
    text-decoration: underline;
}

.pieteiksanasKluda a{
    color: rgba(0, 0, 0, .1);
}

.pieteiksanasKluda.sarkans{
    background: #ca4444;
}

.pieteiksanasKluda.zals{
    background: #57a141;
}

.sarkans1{
    color: #ca4444;
}

.zals1{
    color: #57a141;
}


.footer{
    font-size: 1.7rem;
    background: var(--opacity-color);
    color: var(--black);
    text-align: center;
    padding: 4rem;
    margin-top: 2rem;
}